body {
  background-color: #BCE0FD;
  margin: 0;
  display: grid;
  padding-top: 10%;

}
.profile{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BCE0FD;
}
hr{
      border-color: #FFC107;
      display: flex;
      align-items: center;
      justify-content: center;
      border-style: dotted none none ;
      background-color: #BCE0FD;
      border-width: 10px;
      width: 8%;
        }
  .name {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BCE0FD;
    color: #0d47a1;
    font-family: "Comic Sans MS", cursive, sans-serif;



  }

  .tagline {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BCE0FD;
    color: #FF5722;
    font-family: "Courier New", Courier, monospace;
    position: relative;
  }

  .top-cloud {
    display: block;
    background-color: #BCE0FD;
    position: absolute;
    left: 1000px;
    top: 50px;
  }

  .bottom-cloud {
    display: flex;
    background-color: #BCE0FD;
    position:relative;
    left: 70px;
  }

  .mountain {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #BCE0FD;

  }
  
  .profilePic {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BCE0FD;
  }

  .hello {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BCE0FD;
    color: #0d47a1;
    font-family: Courier New,sans-serif;
  }

  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BCE0FD;
    color:#FF5722;
    font-family: Courier New,serif;
  }

  .Qlogo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BCE0FD;
  }

  .qual {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BCE0FD;
    color:#0d47a1;
  }

  .Qtable {
    display: inline-block;
    font-family: Georgia,monospace;
    position: relative;
    color:#142850;
    background-color: #BCE0FD;
  }

.Sicon{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BCE0FD;
}
.skill{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BCE0FD;
  color:#0d47a1;

}
.Stable{
  display: inline-block;
  font-family: Georgia,monospace;
  position: relative;
  color:#142850;
  background-color: #BCE0FD;
}

  .CLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BCE0FD;

  }

  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BCE0FD;
    color:#0d47a1;
    font-family: Georgia,monospace;
  }

  .CTable {
    display: inline-block;
    position: relative;
    background-color: #BCE0FD;
    color:#142850;
    font-family: Georgia,monospace;
  }
}
  .instaLogo {
    display: inline-block;
    position: relative;
    background-color: #BCE0FD;
    top: 20px;
  }

  .instalink {
    display: grid;
    position: relative;
    background-color: #BCE0FD;
    left: 35px;
  }

  .last-word {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BCE0FD;
    color: #FF5722;
    font-family: Georgia,monospace;
  }
